@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h2>Collecting information and information usage</h2>

<p>Kontakti.com undertakes to provide protection of personal data of customers, so that only necessary, basic data on customers / users that are necessary for the fulfillment of the contract are collected; it regularly gives customers a choice about the use of their data, including the ability to decide whether or not to have their name removed from the list used for marketing campaigns.
     All user data is strictly kept and is only available to employees who need this data to do the job.
     All employees ofKontakti.com and business partners are responsible for adhering to the principles of privacy.</p>
<p>In the process of realization of the requested service and for providing information and information related to your service, we will use only that information that you voluntarily give us. 
    We undertake not to sell, disclose or disclose this information to any third party in a manner not set forth in this statement.</p>

<h2>Log files</h2>
<p>We use IP addresses to analyze trends, maintain websites, track user movements, and collect broader demographic data. IP addresses are not linked to any personal data that can be used to identify an individual.</p>


<h2>Security</h2>
<p>These websites take all measures to protect user data. The entry of confidential data through this website is protected online and offline. If confidential information (such as personal information) is required from users in our registration form, that information is encrypted and protected by a security protocol (SSL). During your stay on the protected page, the padlock icon at the bottom of an Internet browser such as Internet Explorer, Netscape Navigator or other Internet browsers is locked, unlike an unlocked or open icon during a normal search of our pages. In addition to using SSL encryption to protect user data on the Internet, we do everything in our power to protect the same data off-line. Access to all information about our users, not just the confidential information mentioned above, is limited. Only employees who need it to perform a particular service have access to confidential information.
For all additional questions about security on our website, you can send an e-mail to: kontakti.gdpr@gmail.com</p>

<h2>Collection and processing of personal data</h2>
<p>What data we collect:

Personal data: name, surname, address, contact number, email address, date of birth, ID number, OIB

 Photos and videos: when using video surveillance

Sales and service information: purchase information, including customer customer identity, contract number, and warranty information, complaints, delivery, support, and services, including complaints and claims.</p>